<!doctype html>
<head>
    <title></title>
    <meta charset="UTF-8" />
    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=5"
    />
    <link rel="canonical" href="https://alexkaufman.live" />
    <meta
        name="alexkaufman.live"
        content="Standup comedian / Former physicist"
    />
    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
    />
</head>
<body>
    <header>
        {% block header %}
        <a class="title" href="/"><h1>{{ site_name }}</h1></a>
        <nav>
            {% block nav %}
            <p>
                <a href="/">home</a>
                <a href="/shows/">shows</a>
                <a href="/blog/">blog</a>
            </p>
            {% endblock %}
        </nav>
        {% endblock %}
    </header>
    <main>
        {% block main %}
            {{ content }}
        {% endblock %}
    </main>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
</body>
