{% macro show_list(shows) -%}
    <ul class="show-list">
    {% if not shows %}
        <p>
            No upcoming shows right now.
            <a href="mailto:alexkaufmancomedy@gmail.com">
                Reach out and change that.
            </a>
        </p>
    {% endif %}
    {% for show in shows %}
    <li>
    <article class="show on-list">
        <h2 class="show-title">
            <a href="{{ url_for('shows.show', show_slug=show.link) }}">
                {{ show.title }}
            </a>
        </h2>
        <div class="show-meta">
            <time class="show-date">{{ show["show_date"] }}</time>
        </div>
    </article>
    </li>
    {% endfor %}
    </ul>
{%- endmacro %}

{% macro eventbrite_button(event_id) -%}
<button id="event-button" type="button">buy tickets</button>

<script src="https://www.eventbrite.com/static/widgets/eb_widgets.js"></script>

<script type="text/javascript">
    var exampleCallback = function () {
        console.log('Order complete!');
    };

    window.EBWidgets.createWidget({
        widgetType: 'checkout',
        eventId: '{{event_id}}',
        modal: true,
        modalTriggerElementId: 'event-button',
        onOrderComplete: exampleCallback,
    });
</script>
{%- endmacro %}
