{% extends "base.jinja2" %}

{% block title %} {{ show.title }} {% endblock %}

{% block head %}
{{ super() }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Event",
  "location": {
    "@type": "Place",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "{{ show.meta.city }}",
      "addressRegion": "{{ show.meta.state }}",
      "postalCode": "{{ show.meta.zip_code }}",
      "streetAddress": "{{ show.meta.street_address }}"
    },
    "name": "{{ show.meta.venue }}"
  },
  "name": "{{ show.title }}",
  "startDate": "{{ show.show_date}}",
  "eventAttendanceMode": "https://schema.org/OfflineEventAttendanceMode",
  "eventStatus": "https://schema.org/EventScheduled",
  "description": "{{ show.meta.description }}",
  "image": "{% if show.meta.image %} {{ url_for('static', filename=show.meta.image) }} {% endif %}"
}
</script>
{% endblock %}

{% block main %}
    <div class='show-head'>
        <h1 class='show-title'>{{ show.title }}</h1>
        <div class='show-meta'>
            {% if show.meta.venue %}
            <div class='venue'>
                {{ show.meta.venue }},
                {% if show.meta.city %}
                    {{ show.meta.city }},
                {% endif %}
                {% if show.meta.state %}
                    {{ show.meta.state }}
                {% endif %}
            </div>
            {% endif %}
            <time class='show-date'>{{ show.show_date }}</time>
        </div>
    </div>

    {{ show.content }}

{% endblock %}
