{% extends "base.jinja2" %}

{% block main %}
    <h1> Upcoming Shows </h1>
    {% for show in upcoming_shows %}
        <a href="{{ show.link }}">
            <p>{{ show['title'] }}</p>
        </a>
    {% endfor %}
    <h1> Past Shows </h1>
    {% for show in past_shows %}
        <a href="{{ show.link }}">
            <p>{{ show['title'] }}</p>
        </a>
    {% endfor %}
{% endblock %}
