{% extends "base.jinja2" %}
{% block title %} shows | {{ site_name }} {% endblock %}
{% block main %}
    <h1> Upcoming Shows </h1>
    {{ show_list(upcoming_shows) }}
    <h1> Past Shows </h1>
    {{ show_list(past_shows) }}
{% endblock %}
